/*=========================================
BROWSER RESET | UNIVERSAL
==========================================*/

h1, h2, h3, h4, h5, h6, header, a, p, img, table, tr, td,link, article, aside, figure, body, footer, div, span, nav, ul, ol, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

body {
	background-color: #1C1C1C;
	color: #fff;
}

header {
	border-top: 0.2em solid #fff;
}

h1 {
	font-family: helvetica, sans-serif, times;
	padding: 0.1em 0 0em 0;
	text-align: center;
	color: #fff;
	font-size: 5.5em;
}

#menu {
	color: #fff;
	list-style-type: none;
	text-align: center;
}

li {
	display: inline;
	padding: 0 2em 0 2em;
	font-size: 1em;
	text-align: center;
	font-family: times, helvetica;
}

a {
	text-decoration: none;
	color: #fff;
}

img {
	display: block;
	padding: 1em 0 2em 0em;
	margin: 0 auto 0 auto;
	max-width: 40%;
	max-height: auto;
}

p {
	padding-left: 30%;
	padding-bottom: 2em;
	font-size: 3em;
}

footer {
	text-align: center;
	padding-bottom: 3em;
	text-decoration: underline;
}

/*=========================================
MEDIA QUERY @ 700PX & 500PX
==========================================*/

@media screen and (max-width: 1200px) {

h1 {
	font-size: 6.5em;
}

li {
	font-size: 1.3em;
}

@media screen and (max-width: 800px) {

h1 {
	font-size: 3.5em;
}

li {
	display: block;
	font-size: 0.9em;
	text-align: center;
}

p {
	font-size: 2em;
	font-weight: 100;
}

}

}






